@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.project-title {
    color: #2e313a;
    text-shadow: 2px 2px 2px rgb(150 150 150 / 40%);
    color: #c93082; 
    font-family: Archivo Narrow;
}

.project-details {
color: #2e313a;
font-size: 1.1rem;
font-family: Archivo Narrow;
}

#project-headline {
    font-weight: bold;
    /* text-decoration: underline; */
    color: #2e313a; 
    font-style: italic;
    font-family: Archivo Narrow;
}



.project-details a {
    /* color: rgb(151, 35, 151) */
    color: #2e313a;
    font-weight: bold;
    font-family: Archivo Narrow;
}

#img-container:hover .image {
    opacity: 0.6; 
}

#img-container {
    cursor: pointer; 
}




/* .container:hover .image {
    opacity: 0.3;
  } */



