

 .right-links {
    position: relative;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    width: 50%; 
    top: 0; 
    
 }

 

 .navRightli {
    display: inline; 
    padding: 1rem; 
    cursor: pointer;
    /* list-style-type: none; */
 }

 .navRightMenu {
    margin-left: auto; 
 }

 .navRightList {
    display: flex;
    padding: 0;
 }

 .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #2642af;
  }

  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .navRightList {
        position: absolute;
        /* top: 60px; */
        height: auto; 
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
    }
  }

  @media screen and (max-width: 768px) {
    .navRightli {
        text-align: center;
        margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .navRightli a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }
    .navRightli:hover {
        background-color: #eee;
  }
}



 






 

 