

 .right-links {
    /* position: fixed; */
    display: flex; 
    justify-content: flex-end; 
    width: 50%; 
    top: 0; 
    
 }

 

 .navRightli {
    display: inline; 
    padding: 1rem; 
    cursor: pointer;
    /* list-style-type: none; */
 }



 






 

 