@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');


.hero-container {
    height: 70%; 
    width: 50%; 
    
    margin: auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    /* min-height: 70vh; */
    margin-top: 4rem;
}


.header {
    text-transform: uppercase;
    font-size:2.5rem;
   
    color: #2e313a;
    text-shadow: 2px 2px 2px rgb(150 150 150 / 40%);
    font-family: Tenor Sans; 
}

/* #header-container {
    margin: auto; 
} */

.sub-header {
    text-align: center;
    /* text-transform: uppercase; */
    font-size:1.25rem;
    color: #2e313a;
    font-family: Archivo Narrow; 
}

.article {
    color: #2e313a;
    font-size:1.2rem;
    font-family: Archivo Narrow; 
}

#icon-container a {
    color: #2e313a;
}




