.outerHeroDiv {
  /* width: calc(90% - 90px); */
  width: 90%;
  margin-left: 60px;
  /* overflow: hidden; */
  
}

.innerHeroDiv {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  color: #000000; 
}

.left-img-title-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top:4rem; 
}

.left-img-title-container img {
  border-radius: 10%;
  margin: 0 auto;
  width: 225px;
  height: 225px;
  box-shadow: rgb(0 0 0 / 24%) 0px 5px 8px;
}

.left-img-title-container h1 {
  font-size: 3rem;
  margin-top: 15px;
  
  /* font-weight: 400; */
  
}



.left-img-title-container h3 {
  font-size: 2rem;
  margin-top: 8px;
  
  
  font-weight: 500;
  
}

/* .left-img-title-container h3 span {
  color: #d7263d; 
} */

.contact-me-link {
  /* background-color: red;  */
    padding: 8px 17px;
    border-radius: 40px;
    /* border-radius: 40px; */
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #b20456; 
    
    text-decoration: none;
    border: 2px solid;
    margin-top: 1.5rem; 
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;

}

.right-about-me-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 70%;
  padding: 0 15px;
  width: 100%;
  margin-bottom: 3rem;
}

.right-about-me-container h1 {
  margin: 24px 0;
  font-size: 5rem;
  
  /* font-weight: 200; */
}

.right-about-me-container p {
  font-size: 2rem;
  letter-spacing: 1px;
  /* color: #505458;  */
  /* font-weight:200;  */
  /* font-weight: bold; */
  
  
}

.right-about-me-container .full-stack-developer {
  color:#b20456; 
  font-weight: bold; 
  font-size: 2.5rem; 
}

.right-about-me-container .hi-wave-intro {
  color: #000000; 
  font-weight: bold; 
}

/* .right-about-me-container .collaborate {
  font-weight: bold; 
} */


#resume-link {
  padding: 13px 30px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #b20456; 
text-decoration: none;
  color: white;
  margin-right: 2rem;
  
  
}



.right-about-me-container .btn-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.right-about-me-container .icon {
  font-size: 2rem;
}

.right-about-me-container ul li {
  padding: 10px; 
  
}

.icon-container {
  border: 2px solid #b20456; 
  padding: 9px 10px;
  display: flex;
  justify-content: center;
  border-radius: 40px; 
  background-color: #FFFFFF;
}

.right-about-me-container ul li  SVG{
  color:  #b20456; 
  }


.right-about-me-container .icon:hover {
  cursor: pointer;
  color: #b20456; 
}

.right-about-me-container .right-side-icons {
  display: inherit;
  list-style: none;
}

.mobile-header-outer-div {
  padding-top: 0px;
}

.mobile-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
}

.mobile-header img {
  border-radius: 10%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.mobile-header h1 {
  /* font-size: 3.5rem;  */
  font-size: 2em;
  margin-top: 15px; 
  
}

.mobile-header h3 {
  /* font-size: 2rem; */
  margin-top: 1rem;
  font-size: 1.5em;
  font-weight: 500;
}

.btn-icons-container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px; 
  justify-content: center;
  align-items: baseline;
}

.btn-icons-container-mobile .right-side-icons-mobile {
  display: inherit;
  list-style: none;
}

.btn-icons-container-mobile .right-side-icons-mobile li {
  padding: 10px;
}

.btn-icons-container-mobile .right-side-icons-mobile li SVG {
  color: #b20456; 
  
}

.btn-icons-container-mobile .right-side-icons-mobile .icon SVG {
  font-size: 2rem;
}

#mobile-resume-link {
  padding: 13px 30px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #b20456;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
}

#envelope-icon {
  background-color: red;
  border-radius: 7px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: red;
  color: white;
}

#envelope-icon SVG {
  color: white;
}

.mobile-header p {
  /* font-size: 2rem; */
  font-size: 1.5em;
  padding-top: 10px; 
  width: 85%;
}

.mobile-header .resume-link {
  padding: 8px 20px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: red;

  color: white;
  margin-top: 4rem;
}

@media (max-width: 900px) {
  .mobile-header {
    padding: 130px 0;
    height: auto;
  }
}

@media (max-width: 800px) {
  .mobile-header {
    padding: 180px 0;
    height: auto;
  }
  .mobile-header img {
    height: 300px;
    width: 300px;
  }
  .mobile-header h1 {
    font-size: 3em;
  }
  .mobile-header h3 {
    font-size: 1.75em;
  }
  .btn-icons-container-mobile .right-side-icons-mobile .icon {
    font-size: 3rem;
  }
  .mobile-header p {
    font-size: 2em;
  }
  .mobile-header .resume-link {
    padding: 12px 33px;
  }
}

/* @media (max-width: 500px) {
  .mobile-header {
    padding: 132px 0;
  }
  .mobile-header img {
    height: 275px;
    width: 275px;
  }
  .mobile-header h1 {
    font-size: 2.75em;
  }
  .mobile-header h3 {
    font-size: 1.75em;
  }
  .mobile-header p {
    font-size: 1.75em;
  }
} */

@media (max-width: 500px) {
  .mobile-header {
    padding: 132px 0;
  }
  .mobile-header img {
    height: 250px;
    width: 250px;
  }
  .mobile-header h1 {
    font-size: 2.5em;
  }
  .mobile-header p {
    font-size: 1.7em;
  }
}

@media (max-width: 400px) {
  .mobile-header img {
    height: 225px;
    width: 225px;
  }
  .mobile-header h1 {
    font-size: 2.25em;
  }
  .mobile-header h3 {
    font-size: 1.7em;
  }
  .btn-icons-container-mobile .right-side-icons-mobile .icon {
    font-size: 2.5rem;
  }
  .mobile-header p {
    font-size: 1.6em;
  }
}

@media (max-width: 375px) {
  .mobile-header h1 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .mobile-header {
    padding: 100px 0;
  }
  .mobile-header img {
    height: 200px;
    width: 200px;
  }
  .mobile-header h1 {
    font-size: 2em;
  }
  .mobile-header h3 {
    font-size: 1.5em;
  }
  .btn-icons-container-mobile .right-side-icons-mobile .icon {
    font-size: 2.3rem;
  }
  .btn-icons-container-mobile {
    margin-top: 15px;
  }

  .mobile-header p {
    font-size: 1.4em;
    padding-top: 18px;
  }
  .mobile-header .resume-link {
    padding: 6px 29px;
    margin-top: 2rem;
  }
}


