@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* If the browser window is 600px or smaller, the background color will be lightblue: */

/* .hero-container {
  height: 70%;
  width: 50%;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

@media only screen and (max-width: 1260px) {
  .hero-container {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .hero-container {
    width: 80%;
  }
}

@media only screen and (max-width: 788px) {
  .hero-container {
    width: 85%;
   
  }
}

@media only screen and (max-width: 443px) {
  .hero-container {
    width: 85%;
  }
}

.header {
  /* text-transform: uppercase; */
/* font-size: 3rem;
  letter-spacing: 1px; */

/* color: #2e313a; */
/* color: black; 
  color: #333; 
  font-family: Poppins; */

/* }

@media only screen and (max-width: 443px) {
  .header {
    font-size: 2rem;
    
  }
} */

/* @media only screen and (max-width: 349px) {
  .header {
    font-size: 1.5rem;
  }
} */

/* .sub-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #333; 
  /* color: black;  */
/* font-family: Poppins;
  margin-top: -0.5rem;
  
}

@media only screen and (max-width: 443px) {
  .sub-header {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 375px) {
  .sub-header {
    font-size: 0.85rem;
  }
}

.article {
  
  color: #505458; 
  font-size: 1.2rem;
  font-family: Archivo Narrow;
}

#icon-container a {
  color: #2e313a;
  color: black; 
}

#skills-icon-container {
    display: flex; 
    flex-wrap: wrap;
}  */

/*///everything below is from first attempt at new header///////////////////*/

/* .header {
 
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 15rem;
  margin-top: 4rem;
}

.inner-div {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

#left-div {
  background-color: #ffffff;
  width: 40%;
}

#right-div {
  background-color: #ffffff;
  width: 60%;
}

#right-div h1 {
  font-size: 3.5rem;
  margin-top: 3.2rem;
}

#right-div h1 {
  font-size: 7rem;
}

#left-div img {
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10%;
}

#left-div h1 {
  font-size: 5rem;
  margin-top: 4rem;
}

#left-div h3 {
  font-size: 3rem;
  margin-top: 1.5rem;
}

#left-div h1,
h3 {
  text-align: center;
}

#left-div button {
  width: 60%;
  margin: 0 auto;
  background-color: black;
  color: white;
  margin-top: 2rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.icons {
  font-size: 2rem;
}

#right-div p {
  font-size: 3rem;
  margin-top: 7rem;
}

#right-div button {
  width: 30%;
  height: 60%;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 11.2rem;
}

.btn-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.btn-icons-container a {
  font-size: 2.5rem;
}

.icon {
  font-size: 2.5rem;
}

.right-side-icons {
  display: inherit;
  list-style: none;
}

.right-side-icons li {
  padding: 10px;
}

.mobile-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

.mobile-header img {
  width: 35%;
  border-radius: 10%;
}

.mobile-header h1 {
  font-size: 4rem;
  margin-top: 2.5rem;
}

.mobile-header h3 {
  font-size: 2rem;
  margin-top: 2.5rem;
}

.mobile-header .btn-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -7rem;
}

@media only screen and (max-width: 1600px) {
  #left-div img {
    width: 50%;
  }
  #left-div h1 {
    font-size: 4rem;
  }
  #left-div h3 {
    font-size: 2.5rem;
  }
  #right-div h1 {
    font-size: 6rem;
  }
  #right-div p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1550px) {
  #left-div h1 {
    font-size: 3rem;
  }
  #left-div h3 {
    font-size: 2rem;
  }
  #right-div h1 {
    font-size: 5rem;
  }
  #right-div p {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 1400px) {
  #left-div img {
    width: 65%;
  }
}

@media only screen and (max-width: 1300px) {
  .header-wrapper {
    padding: 7rem;
  }
}


@media only screen and (max-width: 800px) {
  .mobile-header img {
    width: 50%;
  }
  .mobile-header h1 {
    margin-top: 4.5rem;
    font-size: 3.5rem;
  }

  .mobile-header h3 {
    font-size: 2.5rem;
    margin-top: 3.5rem;
  }
  .mobile-header .btn-icons-container {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 485px) {
  .mobile-header {
    padding: 7rem;
  }

  .mobile-header img {
    width: 80%;
  }
 
  .mobile-header h3 {
    font-size: 1.5rem;
  }
  .mobile-header img {
    width: 90%;
  }
}

@media only screen and (max-width: 465px) {
  .mobile-header {
    padding: 6rem;
  }
  .mobile-header img {
    width: 90%;
  }
 
  .mobile-header h3 {
    font-size: 1.75rem;
    margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 406px) {
  .mobile-header {
    padding: 5rem;
  }
  .mobile-header img {
    width: 80%;
  }
}

@media only screen and (max-width: 385px) {
  .mobile-header {
    padding: 4rem;
  }
}

@media only screen and (max-width: 366px) {
  .mobile-header img {
    width: 70%; 
  }
  .mobile-header h1 {
    font-size: 3rem;
    margin-top:3.5rem; 
  }



} */

/* new attempt below  */

.outerHeroDiv {
  width: calc(100% - 90px);
  margin-left: 90px;
  overflow: hidden;
}

.innerHeroDiv {
  padding: 0 33px;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.left-img-title-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.left-img-title-container img {
  border-radius: 10%;
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

.left-img-title-container h1 {
  font-size: 3rem; 
  margin-top: 15px; 
}



.right-about-me-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
}

.right-about-me-container h1 {
  margin: 24px 0;
  font-size: 9vh;
}

.right-about-me-container p {
  font-size: 2rem;
}

.right-about-me-container .btn-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.right-about-me-container .right-side-icons {
  display: inherit;
  list-style: none;
}

.right-about-me-container li {
  padding: 10px;
}

@media (max-width: 990px) {
  .outerHeroDiv {
    width: 100%;
    margin-left: 0;
  }
  .header {
    display: block;
    padding: 80px 0;
    height: auto;
  }
  .right-about-me-container {
    text-align: center;
    margin-top: 50px;
  }
  .btn-icons-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .right-about-me-container .right-side-icons {
    margin-left: 10px;
  }
}

@media (min-width: 767px) {
  .innerHeroDiv {
    padding: 0 15px;
  }
  .left-img-title-container img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 90px 0;

  }

  .left-img-title-container img {
    width: 250px;
    height: 250px;
  }

  .btn-icons-container {
    display: block; 
  }
  .right-about-me-container .right-side-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-top: 30px;
  }
}




