/* /////// MOBILE HEADER STYLES */

.mobile-bio-social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
  margin-top: 3rem;
}

.mobile-icon-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.mobile-icon-container .mobile-icon {
  font-size: 4rem;
}

.mobile-icon-container #mail-icon {
  font-size: 5.25rem;
}

.mobile-icon-container a {
  color: white;
}

.mobile-bio-social-container h3 {
  font-size: 2rem;
}

.mobile-bio-social-container h3 span {
  text-decoration: underline;
  color: var(--color-green);
}

.mobile-bio-social-container h1 {
  font-family: 'Anonymous Pro';
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 2.5rem;
}
