.nav {
  position: fixed;
  height: 6rem;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1.6rem;
  box-sizing: border-box;
  z-index: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: flex-start;
}

.hamburger {
  width: 24px;
  height: 12px;
  transform: rotate(0deg);
  flex-shrink: 0;
  position: relative;
  z-index: 500;
}

.hamburger-line-straight {
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  box-shadow: none;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  border-radius: 100px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  margin-top: -2px;
}

#hamburger-line-1 {
  margin-top: 1.2rem;
}

.nav-menu {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  margin-left: 6rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 800;
}

/* ////// what happans when clicked 
#navi-toggle:checked + .hamburger .hamburger-line-straight {
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  box-shadow: none;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  border-radius: 100px;
  transform-origin: center center;
  position: absolute;
  //style prop for line 1
  transform: translate3d(0px, 6px, 0px) rotate(45deg);

  margin-top: -2px;
}

#navi-toggle:checked + .hamburger #hamburger-line-1 {
  //style prop for line 2 

  background: #fff;
  transform: translate3d(0px, 6px, 0px) rotate(-45deg);
  transition-duration: 0.2s;
} */

/* #toggle {
  display: none;
}

.hamburger {
  position: fixed;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #333;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b20456;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #f7f7f7;
  font-family: 'Permanent Marker';
  font-size: 3em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: #f7f7f7;
}

nav a:hover:before {
  height: 100%;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
  background-color: #f7f7f7;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
  background-color: #f7f7f7;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
} */
