
.paragraph span {
  text-decoration: underline;
}

.resume-container {
  display: inline-block;
}

.resume-container a {
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1.9rem;
  display: flex;
  gap: 0.4rem;
  font-weight: 600;
}

.resume-container svg {
  font-size: 2.1rem;
}

.resume-link-container {
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  display: inline-flex;
  background-color: #2e2e2ea6;
  padding: 0.8rem 2.5rem;
  border-radius: 2.2rem;
}

.resume-link-container h3 {
  font-size: 2.1rem;
}

.resume-link-container svg {
  color: var(--color-green);
  font-size: 4rem;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation-name: float;
  animation-name: float;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
