.download {
  gap: 1rem;
  display: flex;
  align-items: baseline;
}

.download h1 {
  font-size: 2rem;
  text-decoration: underline;
  color: white;
  text-shadow: 0px 0px 3px rgb(50 211 58), 0px 0px 7px var(--color-green);
}

.download #download-icon {
  font-size: 3.2rem;
  color: white;
  text-shadow: 0px 0px 3px rgb(50 211 58), 0px 0px 7px var(--color-green);
}

.download a:hover {
  cursor: pointer;
}

.download-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.download-text-container h1 {
  font-size: 2.5rem;
}

.paragraph span {
  text-decoration: underline;
}

.resume-container {
  display: inline-block;
}

.resume-container a {
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1.9rem;
  display: flex;
  gap: 0.4rem;
  font-weight: 600;
}

.resume-container svg {
  font-size: 2.1rem;
}

.resume-link-container {
  align-items: center;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    gap: 2rem;
}

.resume-link-container svg {
  color: var(--color-green);
    font-size: 8rem;
}
