/* .projects:not(:first-child) {
  margin-top: 6rem;
}

.projects:first-child {
  margin-top: 10rem;
} */

.project .read-more {
  font-size: 1.65rem;
  font-family: 'Anonymous Pro';
  letter-spacing: 0.7px;
}

.project .static-img-container {
  overflow: hidden;
  margin-top: 5rem;
}

.project img {
  transition: all 0.2s ease 0.1s;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  object-fit: cover;
  vertical-align: top;
}

.project .static-img:hover {
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon-text-container .folder-icon {
  font-size: 3.5rem;
}

.project-pop-up-icon-text:hover {
  cursor: pointer;
}

.demo-code-links-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 10rem;
}

.demo-code-links-container div {
  font-size: 1.65rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.demo-code-links-container div a {
  color: white;
  transition: all 0.2s ease 0.1s;
}

.demo-code-links-container div:hover {
  cursor: pointer;
}

.demo-code-links-container svg {
  font-size: 2.3rem;
}
