.projects {
  background-color: #2e2e2ea6;
  width: 100%;
  padding: 3.2rem;
  border-radius: 22px;
  margin-top: 5rem;
  position: relative;
}

.projects h3 {
  font-size: 2.3rem;
  text-decoration: underline;
}

.project-description {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.projects .read-more {
  font-size: 1.5rem;
  text-decoration: underline;
}

.projects .bullet {
  margin-top: 2rem;
}

.projects .static-img-container {
  overflow: hidden;
  margin-top: 5rem;
}

.projects img {
  transition: all 0.2s ease 0.1s;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  object-fit: cover;
  vertical-align: top;
}

.projects .static-img:hover {
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 1rem;
}

.icon-text-container .folder-icon {
  font-size: 3rem;
}

.project-pop-up-icon-text:hover {
  cursor: pointer;
}

.demo-code-links-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 10rem;
}

.demo-code-links-container div {
  font-size: 1.65rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.demo-code-links-container div a {
  color: var(--color-text-pink);
  transition: all 0.2s ease 0.1s;
}

.demo-code-links-container div:hover {
  cursor: pointer;
}

.demo-code-links-container svg {
  font-size: 2.3rem;
}
