/* .contact {
  padding-bottom: 3rem;
  margin-top: 10rem;
} */
.contact {
  margin-top: 10rem;
}
.contact p {
  margin-top: 4rem;
  max-width: 600px;
}

.email {
  font-size: 2.5rem;
  gap: 2.5rem;
  display: flex;
  margin-top: 2rem;
  /* justify-content: center; */
  align-items: center;
  text-decoration: underline;
  
}

.contact svg {
  font-size: 7rem;
  color: var(--color-primary);
}
