.contact p {
  margin-top: 1rem;
  max-width: 600px;
  padding-bottom: 1rem;
}

.connect {
  /* font-size: 1.7rem; */
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: #000;
  padding: 4rem;
  border-radius: 10px;
  /* align-items: c; */
}

.connect a {
  color: var(--color-text-pink);
  text-decoration: none;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.connect a:hover {
  transform: translateY(-5px);
}

.email {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.email h2 {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.7s ease;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #1b1b1b;
}

.email svg {
  font-size: 4rem;
}

.social {
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
}
