.img-icon-container {
  width: 90%;
  position: relative;
  min-height: 100%;
}

#image {
  min-height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 5px 8px;
  object-fit: cover;
}

.right-arr {
  font-size: 3rem;
  top: calc(50% - 15px);
  color: white;
  transition: 200ms;
  right: -4rem;
  position: absolute;
}

.left-arr {
  font-size: 3rem;
  color: white;
  transition: 200ms;
  position: absolute;
  top: calc(50% - 15px);
  left: -4rem;
}

.right-arr:hover, .left-arr:hover {
  color: rgb(88, 88, 88);
  cursor: pointer;
}

.slide {
  transition-duration: 100ms ease;
  display: flex;
  justify-content: center;
  position: relative;
  width: 90%;
}

.slide.active {
  opacity: 1;
  transition-duration: 100ms;
}

#title {
  font-size: 2rem;
  user-select: none;
  font-family: 'Arial';
  color: black;
}

#X {
  top: 0px;
  right: -3rem;
  position: absolute;
  font-size: 2.2rem;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}

#X:hover {
  color: rgb(88, 88, 88);
  cursor: pointer;
}

#icon-container {
  background-color: #f7f7f7;
  margin-top: 0.8rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey, 0.3;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(grey, 0.3);
  }
}

.popup-content {
  position: absolute;
  width: 80%;
  border-radius: 3px;
  overflow: hidden;
  opacity: 1;
  transition: all 0.4s 0.2s;

  display: flex;
  justify-content: center;
}
