#image {
    /* width: 85vw;
    height: 85vh; */
    height: 100%; 
    width: 100%; 
    margin-top: 1rem;
    user-select: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    /* tried contain, works better */
  }
  
  .right-arr {
    font-size: 2.5rem;
    color: rgb(49, 49, 49);
    transition: 200ms;
    margin: 0.5rem;
  }
  
  .right-arr:hover {
    color: rgb(88, 88, 88);
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .slide {
    opacity: 0;
    transition-duration: 300ms ease;
    
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 300ms;
   
    
    /* transition-duration: 2s; */
  }
  
  #title {
    font-size: 2rem;
    user-select: none;
    font-family: 'Arial'; 
    color: black; 
  }

  .col-2-pics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red;  */
    position: relative; 
  }

  #X {
    transform: translateY(-0.8rem);
    position: absolute; 
    font-size: 2.2rem; 
    cursor: pointer;
    color: rgb(49, 49, 49);
  }

  #X:hover {
    color: rgb(88, 88, 88);
    cursor: pointer;
    
  }

  

  #icon-container {
    background-color: rgba(241, 238, 238, 0.836);
    margin-top: 0.3rem; 
  }