.main-container {
  position: relative;
  background-color: #1b1b1b;
  width: 100vw;
}

.inner-wrapper {
  background-color: #1b1b1b;
  max-width: 725px;
  margin: 0 auto;
  padding: 2rem 6rem;
}

p,
h1 {
  font-size: 2.3rem;
}

p,
.neon-green-text,
#projects,
.social-icons ul,
header .Tatyana,
.demo-code-links-container div,
.contact,
nav a {
  font-weight: 800;
}

p {
  letter-spacing: inherit;
  line-height: 3rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* text-shadow: #eb07df 0px 0px 5px, #eb07df 0px 0px 10px, #eb07df 0px 0px 15px, #eb07df 0px 0px 20px, #eb07df 0px 0px 30px, #eb07df 0px 0px 40px, #eb07df 0px 0px 50px, #eb07df 0px 0px 75px; */
}

.section-heading {
  color: var(--color-green);
  font-size: 2.25rem;
  margin-bottom: 3rem;
  padding-top: 8rem;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
}

.h3-computer {
  font-family: 'Press Start 2P';
  font-size: 1.7rem;
  line-height: 3.5rem;
  letter-spacing: 1px;
}

.underlined {
  text-decoration: underline;
}

.neon-green-text {
  text-shadow: 0px 0px 3px rgb(50 211 58), 0px 0px 7px var(--color-green);
  font-family: 'Anonymous Pro';
}

.bold-underlined-text {
  text-decoration: underline;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#projects {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding-top: 9rem;
  margin-top: 8rem;
  margin-bottom: -2rem;
  color: var(--color-green);
}

#projects i {
  margin-right: 1rem;
}

#projects img {
  width: 2.75rem;
  margin-right: 0.5rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  .popup-content {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .inner-wrapper {
    padding: 2rem 4rem;
  }
  .projects {
    padding: 4rem 4rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 519px) {
  .header-inner-wrapper h1 {
    font-size: 3rem;
  }
  .header-inner-wrapper h3 {
    font-size: 2rem;
  }

  .header-inner-wrapper svg {
    margin-right: -3rem;
  }
  .header-icon-container ul {
    gap: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .inner-wrapper {
    padding: 2rem 2.5rem;
  }
  .projects {
    padding: 3rem 3rem;
  }
  h1,
  p {
    font-size: 2.1rem;
  }
  p {
    width: 95%;
  }
}

@media only screen and (max-width: 435px) {
  .header-inner-wrapper h1 {
    letter-spacing: 12px;
  }
  .header-inner-wrapper h3 {
    letter-spacing: 8px;
  }
}

@media only screen and (max-width: 420px) {
  .skills-icon-box {
    padding: 1.5rem 2.5rem;
    font-size: 1.85rem;
  }
  .header-icon-container .header-icon {
    font-size: 4rem;
  }
  .header-icon-container #mail-icon {
    font-size: 5rem;
  }
  .header-icon-container ul {
    margin-left: -3rem;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .hamburger {
    top: 7rem;
  }
}

@media only screen and (max-width: 391px) {
  .header-inner-wrapper h1 {
    letter-spacing: 6px;
  }
  .header-inner-wrapper h3 {
    letter-spacing: 4px;
  }
}

/* header h1 {
    font-size: 2.9rem;
  } */

/* header {
    padding: 8.5rem 0;
  } */

/* .mobile-bio-social-container {
    margin-top: 2rem;
  } */
