@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.resume-container {
  width: 90%;
  margin: 0 auto;
}

#resume-header {
  margin-top: 2rem;
  font-family: Poppins;
  font-size: 1.75rem;
  /* text-transform: uppercase; */
  text-decoration: underline;
  color: #2e313a;
  color: black; 
}

.icon {
  color: #2e313a;
  color: black; 
}

.icon:hover {
    color: rgb(88, 88, 88);
}

.underlined {
  text-shadow: 2px 2px 2px rgb(150 150 150 / 40%);
  color: #c93082;
  font-family: Poppins;
  font-size: 1.3rem;
}

.job {
  font-weight: bold;
  color: #2e313a;
  color: black; 
}

.job-italic {
  font-style: italic;
  color: #2e313a;
  color: black; 
}

.job-place-date {
  font-style: normal;
  color: #2e313a;
  color: black; 
}

.text {
  font-family: Archivo Narrow;
  font-size: 1.1rem;
  color: #2e313a;
  color: black; 
}

.level {
  font-weight: bold;
  color: #2e313a;
  color: black; 
}

.school {
  font-style: italic;
  color: #2e313a;
  color: black; 
}

#footer {
  text-align: center;
  color: #2e313a;
  color: black; 

}

#portfolio-link {
  text-decoration: none;
  color: #2e313a;
  color: black; 
  font-weight: bold;
  cursor: pointer;
}

#portfolio-link:hover {
  color: #c93082;
}

#skills-list {
    list-style-type: none;
}

#envelope {
    margin-left: 0.5rem; 
}

#icone-container-resume {
  background-color: #F2F2F2;
}

