.desktop-nav {
  height: 4rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: end; */
  position: absolute;
  right: 0;
}

.links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
  cursor: pointer;
}

.links a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-text-pink);
}

.social-links {
  font-size: 2rem;
}
