@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.App {
  overflow: hidden;
  letter-spacing: 1px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
  height: -webkit-fill-available;
  min-height: 100%; /* Look, it's not fixed anymore! */

  display: flex;
  flex-direction: column;
}

:root {
  --color-background: rgb(36 35 35);
  --color-text-pink: #f1e4f4;
  --color-blue: #7ef40b;
}

body {
  font-family: 'Oswald';
  background-color: var(--color-background);
  color: var(--color-text-pink);
  min-height: 100vh; 
  min-height: -webkit-fill-available;
  width: 100%;
  margin: 0;
}
