.App {
  margin: 0px;
  padding: 0px;
  width: 100vw;  
  overflow: hidden; 
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  
  /* width: 100vw;  */
  
}

/* background-color: rgba(241, 238, 238, 0.836); */
